body {
    background: #ffffff;
}
#AppBase {
    width: 100%;
    max-width: 960px;
    height: 480px;
    margin: 10px auto;
    padding: 0;
    float: left;
    outline: 1px solid #808080;
}

#AppContainer {
    margin: 0;
    padding: 0;
}

h1 {
    float:left;
    width:100%;
    margin:0;
    padding:0;
    text-align: center;
    height:100%;
}
.subLayout {
    float:left;
    width: 50%;
    height:200px;
    outline:1px solid #808080;
}
h2 {
    width:100%;
    text-align:center;
}
button {
    width: 75px;
    line-height:30px;
    text-align: center;
}
