#logo {
  height: 65%;
  width: 65%;
  margin: 1%;
}

ul {
  list-style-type: none;
}

body { 
  background-image: url('../images/studio54_bg_cropped.jpg');
  padding-top: 70px; 
  color: black;
}

/*@media only screen and (max-width: 320px) {
   body { font-size: 2em; }

}*/

.party-date {
	font-size: 100px;
  font-family: 'Shadows Into Light', cursive;
  margin-left: 2%;
	color: black;
}

.navbar-nav > li:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  background-color: black;
  cursor: pointer; 
}

.navbar-nav > li > a:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; 
}

.navbar-nav > li {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
}
.photo {
  max-height: 83%;
  max-width: 90%;
  float: left;
  margin: 10px;
  margin-bottom: 20px;
  margin-top: 5%;
  border-radius: 5px;
}

.name {
    position: absolute;
    border-left: 5px solid black;
    border-top: 5px solid black;
    border: 5px solid black;
    top:-5px;
    left:-5px;
    display: inline-block;
    background-color: #222;
    font-family: 'Shadows Into Light', cursive;
    margin-top: -30px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 3px;
    z-index: 1000;
    margin-bottom: 5px;
    font-size: 30px; }

#lineup {
  display: none;
  margin-left: 5%;
}

.dj-superstar {
  position: absolute;
  z-index: 10;
  color: silver;
  /*background-color: #222;*/
  border: 5px solid black;
  display: inline-block;
  background: #222222; /* Old browsers */
  background: -moz-linear-gradient(top,  #222222 0%, #494949 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#494949)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #222222 0%,#494949 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #222222 0%,#494949 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #222222 0%,#494949 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #222222 0%,#494949 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#494949',GradientType=0 ); /* IE6-9 */
}

.navbar {
  background: #222222; /* Old browsers */
  background: -moz-linear-gradient(top,  #222222 0%, #494949 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#494949)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #222222 0%,#494949 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #222222 0%,#494949 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #222222 0%,#494949 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #222222 0%,#494949 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#494949',GradientType=0 ); /* IE6-9 */
}

.dj-superstar:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; 
}
/*
#soundcloud-widget {
  display: none;
  margin-top: 12px;
  height: 303px;
  width: 532px; 
}
*/
.soundcloud-widget {
  display: none;
  margin-top: 5%;
  height: 110px;
  width: 250px;
}


.soundcloud-logo {
  max-height: 50%;
  max-width: 50%;
  margin-left: 50px;
  margin-top: 10px;
  opacity: 0.5;
}