#logo {
  height: 65%;
  width: 65%;
  margin: 1%;
}

ul {
  list-style-type: none;
}

body { 
  background-image: url('../images/studio54_bg_cropped.jpg');
  padding-top: 70px; 
  color: black;
}

/*@media only screen and (max-width: 320px) {
   body { font-size: 2em; }

}*/

#box {
    background: #f4f4f4;
    border: 1px solid #bbbbbb;
    width: 200px;
    height: 200px;
    margin: 60px auto;
    position: relative;
}
 
#box:before {
    border: 1px solid white;
    content: '';
    width: 198px;
    height: 198px;
    position: absolute;
}
 
#box:after {
    content: '';
    position: absolute;
    width: 196px;
    height: 196px;
    border: 1px solid #bbbbbb;
    left: 1px; top: 1px;
}

.party-date {
	font-size: 100px;
	font-family: 'Ceviche One', cursive;
  margin-left: 8%;
	color: black;
}

.navbar-nav > li:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  background-color: black;
  cursor: pointer; 
}

.navbar-nav > li > a:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; 
}

.photo {
  max-height: 83%;
  max-width: 90%;
  float: left;
  margin: 10px;
  margin-bottom: 20px;
  margin-top: 5%;
  border-radius: 5px;
}

.name {
    position: absolute;
    border-left: 5px solid black;
    border-top: 5px solid black;
    border: 5px solid black;
    top:-5px;
    left:-5px;
    display: inline-block;
/*    font-family: 'Roboto Condensed', sans-serif;
*/    background-color: #222;
    font-family: 'Shadows Into Light', cursive;
    margin-top: -30px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 3px;
    z-index: 1000;
    margin-bottom: 5px;
    font-size: 30px; }

#lineup {
  display: none;
  margin-left: 5%;
}

.dj-superstar {
  position: absolute;
  z-index: 10;
  color: silver;
  background-color: #222;
  border: 5px solid black;
  display: inline-block;
}

.dj-superstar:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; 
}
/*
#soundcloud-widget {
  display: none;
  margin-top: 12px;
  height: 303px;
  width: 532px; 
}
*/
.soundcloud-widget {
  display: none;
  margin-top: 5%;
  height: 110px;
  width: 250px;
}


.soundcloud-logo {
  max-height: 50%;
  max-width: 50%;
  margin-left: 50px;
  margin-top: 10px;
  opacity: 0.5;
}